  /* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0000fa;
    text-align: center;
    }

nav{
    margin: 0 auto;
    }
  
li {
    display: inline;
    }
  
li a, .dropbtn, .white {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
  
li a:hover, .dropdown:hover .dropbtn, .white:hover {
  background-color:#ffad00;
    }

.white:visited {
  color: white;
    }
    
li.dropdown {
  display: inline-block;
    }

.dropdown-content a:hover {background-color: #ffffff;}
    
.dropdown:hover .dropdown-content {
  display: block;
    }
/* nav bar */
  
/* black white gallery */
#bw{
    filter: grayscale(1)
    }
#bw:hover{
    filter: grayscale(0)
    }

/* black white gallery */

*   {box-sizing: border-box;}

body{
  margin: 0;
  font-family:Verdana, Geneva, sans-serif;;
    }
  
.header{
  text-align: center;
  padding: 32px;
    }
  
.row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
    }
  
/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
    }
  
.column img {
  margin-top: 8px;
  vertical-align: middle;
    }
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
    }
#bw{
filter: grayscale(0);
    }
    }
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
    }
    }
/* black white gallery */

/* logo */  
#name{
  animation: color 3s infinite;
    }
@keyframes color{
  10%{
    fill:rgb(191, 191, 191);
    }
  30%{
    fill:#0000fa;
    }
  90%{
    fill:#ffad00;
    }
    }
.svg{
  fill:#ffad00;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
    }
/* logo */  

/* aboutpic */
img.right {
  float: right;
  margin-left: 25px;
  margin-bottom: 175px;
    }
/* aboutpic */

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
      }

input[type=submit] {
  background-color:#0000fa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    }

input[type=submit]:hover {
  background-color: #0000fa;
    }

.container {
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 750px;
    }

.frontpage{
  margin-left: 8%;
  margin-right: 8%;
  color: rgb(191, 191, 191);
  line-height: 25px; 
    }

/* links for index */
a{
  color:#ffad00;
  text-decoration: none;
    }
a:hover{
color:#ffad00;
text-decoration: none
    }
a:active{
  color:#ffad00;
  text-decoration: none;
    }
a:visited{
  color:#ffad00;
  text-decoration: none;
    }
/* links for index */

.bk{
  background-color: #0000fa;
  color:white;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  line-height: 12px;
  text-align: center;
    }
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    }
/* dots at bottom of slideshow */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
    }
/* Slideshow container */

/* links for contact */
#a1{
  color:white;
  text-decoration: none;
    }
#a1:hover{
  color: white;
  text-decoration: none;
    }
#a1:active{
  color: white;
  text-decoration: none;
    }
#a1:visited{
  color:white;
  text-decoration: none;
    }
/* links for contact*/

/* gallery copy*/
.gallery{
color:rgb(191, 191, 191);
text-align: center;
padding-left: 15%;
padding-right: 15%
    }
/* gallery copy*/

/* headlines */   
h1 {
  text-transform: uppercase;
  font-weight: normal;
  color:#0000fa;
  padding-left: 10%;
  padding-right: 10%;
}
/* headlines */ 

/* logo */
.logo1 {
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
}
/* logo */

.clearfix {
  border: 3px solid #0000fa;
  height: 212px;
  padding-top: 1%;
  padding-bottom: 0%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 5%;
  margin-right: 5%;
  overflow: scroll;
  color:rgb(191, 191, 191);
}

.reflections {
  float: left;
  padding-right: 1%;
}

p {
  text-indent: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}